<div class="container-fluid">
    <div class="row rowBorder">
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-sync'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">FREE RETURN</p>
                            <p class="text">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-location-arrow'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">FREE SHIPPING</p>
                            <p class="text">Free shippin on all order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='far fa-life-ring'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">SUPPORT 24/7</p>
                            <p class="text">We support online 24 hrs a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='far fa-credit-card'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">RECEIVE GIFT CARD</p>
                            <p class="text">Receive gift all over order $50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-lock'></i>
                        </div>
                        <div class="col-9">
                            <p class="titulo text">SECURE PAYMENT</p>
                            <p class="text">We Value Your Security</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
